
.navbar{
    width:100vw;
    height: 60px;
}
.cart ion-icon{
    padding-right:10px;
    vertical-align:bottom;
    font:size 25px;
}
.cart a{
    background-color:whitesmoke;
    color: burlywood;
    cursor: pointer;
    text-decoration:none;
}

.row{
    height:70vh;
    background-repeat: no-repeat;
    width:100%;
    background-size:contain;
    text-align: center;
    
}
.carousel-item{
    width:100vw;
}






body {
    padding-top: 80px;
  }
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }






*{
    margin: 0;
    padding:0 ;
}
body{
    background-color: bisque;
    font-weight: normal;
    font-family: tahoma;
    color: #333;
}
.wrapper{
    width:705px;
    margin: 20px auto;
    padding: 20px;
    
}
h1{
    display: inline-block;
    background-color: whitesmoke;
    color:black;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
     padding: 4px 20px;   
    float:left;
    border-radius: 50px;

}
.clear{
    clear: both;
}
.items{
    display: block;
    margin: 20px 0;

}
.item{
    background-color: cornsilk;
    float: left;
    margin: 0 10px 0;
    width: 205px;
    padding: 10px;
}
.item img{
    display: block;
    margin: auto;
}
h2{
    font-size: 12px;
    display: block;
    border: 1px solid wheat;
    margin: 0 0 10px 0;
    padding: 0 0 50px 0;
}
button{
    border: 1px solid rgb(228, 56, 13);
    padding: 4px 14px;
    background-color: rgb(228, 23, 23);
    color: white;
    text-transform: uppercase;
    flex: right;
    margin:5px 0;
    font-weight: 400;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;
    

}
button:focus{
    outline: none !important;
}
span{
    float: right;
}
p{
    font-size: 14px;
}
.shopping-cart{
display: inline-block;
background: url(../images/cart.jpeg) no-repeat 0 0;
width: 45px;
height:45px;
margin:0 5 px 0 0;
}
footer{
    margin-bottom: auto;
    align-items: center;
}










