
.navbar{
    width:100vw;
    height: 60px;
}

.row{
    height:70vh;
    background-repeat: no-repeat;
    width:100%;
    background-size:contain;
    text-align: center;
    
}
.carousel-item{
    width:100vw;
}